.swal2-popup {
  background-color: white;
  font-family: 'Source Code Pro', monospace;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

button.swal2-confirm.swal2-confirm {
  background-color: #1f2937;
  color: white;
  font-weight: 600;
}
