@import 'tailwindcss/tailwind.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// swal2-popup
.swal2-popup {
  background-color: white;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

button.swal2-confirm.swal2-confirm {
  background-color: #1f2937;
  color: white;
  font-weight: 600;
}
